:root {
    --dark-red: #A95B4A;
    --red: #CD745E;
    --green: #7BA087;
    --dark-green: #778879;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
}a {
    color: inherit; /* Наследует цвет текста от родителя */
}



body {
    margin: 0;
    min-height: 100vh;
    background-image: linear-gradient(0deg, #7E69B0 0%, #A27189 28.87%, #E8813E 100%);
    background-position: center;
    background-size:  cover; 
    background-attachment: fixed; 
    background-repeat: no-repeat; 
}
.bg-image1 {
    position: absolute;
    top: 7%;
    left: 5%;
    width: auto;
    height: auto;
    z-index: 0;
}
.bg-image2 {
    position: absolute;
    top: 14%;
    right: 40%;
    width: auto;
    height: auto;
    z-index: 0;
}
.bg-image3 {
    position: absolute;
    top: 10%;
    right: 16px;
    width: auto;
    height: auto;
    z-index: 0;
}
.bg-image4 {
    position: absolute;
    top: 28%;
    right: 11%;
    width: auto;
    height: auto;
    z-index: 0;
}
.bg-image5 {
    position: absolute;
    top: 30%;
    left: 7%;
    transform: rotate(145deg);
    width: auto;
    height: auto;
    z-index: 0;
}

.bg-image6 {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: rotate(145deg);
    width: auto;
    height: auto;
    z-index: 0;
}

.container {
    /*background-color: #fbdc9d;*/
    background-color: rgba(0, 0, 0, 0);
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    padding-top: 15px;
    opacity: 1;

}


img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.counter {
    text-align: right;
    margin-right: 15px;
}

.txt-counter {
    color: #8E4F2D;
    font-size: 28px;
    line-height: 28px;
}

.hdr {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.speaker {
    margin-left: 15px;
}

.speaker-e {
    display: inline-block;
}

.speaker-d {
    display: None;
}

.perspective-container {
    perspective: 1000px;
    position: fixed; /*absolute?*/
    min-height: 400px;
    bottom: 15px;
    left: 15px;
    right: 15px;
}

.flash {
    height: 100%;
    width: 100%;
    border-radius: 18px;
    border-radius: 18px;
    border: 2px solid #834B2B;    
    background: linear-gradient(0deg, #CE5A3C 0%, #FFBF60 100%);
    position: absolute;
    transform-style: preserve-3d;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.corner-box {
    position: absolute;
    top: 0; 
    border-radius: 9px;
    padding: 7px 25px;
    margin: 10px;
    font-size: 24px;
    font-weight: 400;
    z-index: 10;
    opacity: 0;
}

.corner-box-left {
    left: 0; 
    background-color: var(--red);
    border: 2px solid var(--dark-red);
}

.corner-box-right {
    right: 0; 
    background-color: var(--green);
    border: 2px solid var(--dark-green);
}

.front, .back {
    padding: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.front {
    /* padding-bottom: 70px; */
    justify-content: center;
    transform: rotateY(-0deg);
}
.q-text {
    color: #A95B4A;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    align-self: center;  
    margin-top: 30px;
}

.back {
    justify-content: space-around;
    transform: rotateY(-180deg);
}

.f-and-s {
    align-self: stretch;  /*чтобы spacer раятянулся по возможности*/
    flex: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foreign {
    align-self: stretch;  /*чтобы spacer раятянулся по возможности*/
    display: flex;    
    justify-content: center;
    align-items: center;
}

.native {
    align-self: center;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.foreign-text {
    font-size: 36px;
    line-height: 36px;
    display: block;
}

.native-text {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    display: block;
}

.back-native {
    margin-top: 20px;
}

.back-example {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 10px;
}

.example-text {
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
}

.t-left, .f-left {
    flex: none;
    margin-right: 10px;
}

.spacer {
    height: 10px;
    max-height: 10px;
    max-width: 46px;
    min-width: 0;
    flex: 1;
    padding-bottom: 0;
    padding-right: 0;
}
