:root {
    --dark-red: #A95B4A;
    --red: #CD745E;
    --green: #7BA087;
    --dark-green: #778879;
}

html {
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    height: 100vh;
}

* {
    box-sizing: border-box;
}a {
    color: inherit; /* Наследует цвет текста от родителя */
}



body {
    margin: 0;
    min-height: 100vh;
    background-image: url('img/bg-41.png'), linear-gradient(0deg, #FFB06D 0%, #F3A893 59.72%, #9870A2 100%);
    background-position: center;
    background-size:  cover; 
    background-repeat: no-repeat; 
}

.container {
    /*background-color: #fbdc9d;*/
    background-color: rgba(0, 0, 0, 0);
    font-family: Open Sans, sans-serif;
    font-size: 20px;
    line-height: 24px;
    color: #6D4880;
    padding-top: 15px;
    opacity: 1;
}

img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}
.counter {
    text-align: right;
    margin-right: 15px;
}

.txt-counter {
    color: rgba(255, 255, 255, 0.7);
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -3.6px;    
}

.hdr {
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.speaker {
    margin-left: 15px;
}

.speaker-e {
    display: inline-block;
}

.speaker-d {
    display: None;
}

.perspective-container {
    perspective: 1000px;
    position: fixed; /*absolute?*/
    min-height: 400px;
    bottom: 105px;
    left: 15px;
    right: 15px;
}

.flash {
    border-radius: 18px;
    border: 0.5px solid rgba(0, 0, 0, 0.7);
    background: linear-gradient(133deg, #FDCCA1 2.64%, #FFC2C1 98.53%);
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
}

.corner-box {
    position: absolute;
    top: 0; 
    border-radius: 9px;
    padding: 7px 25px;
    margin: 10px;
    font-size: 24px;
    font-weight: 400;
    z-index: 10;
    opacity: 0;
}

.corner-box-left {
    left: 0; 
    background-color: var(--red);
    border: 2px solid var(--dark-red);
}

.corner-box-right {
    right: 0; 
    background-color: var(--green);
    border: 2px solid var(--dark-green);
}

.front, .back {
    padding: 10px;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
}

.front {
    /* padding-bottom: 70px; */
    justify-content: center;
    transform: rotateY(-0deg);
}
.q-text {
    color: #964E80;
    font-size: 54px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;    
    align-self: center;  
    margin-top: 30px;
}

.back {
    justify-content: space-around;
    transform: rotateY(-180deg);
}

.f-and-s {
    align-self: stretch;  /*чтобы spacer раятянулся по возможности*/
    flex: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.foreign {
    align-self: stretch;  /*чтобы spacer раятянулся по возможности*/
    display: flex;    
    justify-content: center;
    align-items: center;
}

.native {
    align-self: center;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.foreign-text {
    font-size: 36px;
    line-height: 36px;
    font-weight: 500;
    display: block;
}

.native-text {
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 28px;
    display: block;
}

.back-native {
    margin-top: 20px;
}

.back-example {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 10px;
}

.example-text {
    font-size: 18px;
    font-style: italic;
    line-height: 22px;
}

.t-left, .f-left {
    flex: none;
    margin-right: 10px;
}

.spacer {
    height: 10px;
    max-height: 10px;
    max-width: 46px;
    min-width: 0;
    flex: 1;
    padding-bottom: 0;
    padding-right: 0;
}

.buttons-cont {
    position: fixed;
    bottom: 15px;
    left: 15px;
    right: 15px;
}
.micbut {
    justify-content: center;
    align-items: center;
    display: flex;
}
