<!DOCTYPE html>
<html>
<head>
    <title>Log</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .log-table {
            font-family: 'Courier New', monospace;
            line-height: 1;
        }
        .log-table td {
            padding: 4px;
        }
    </style></head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="mb-4">User: {{ user_id }}</h1>
                <table class="table table-striped log-table">
                    <tbody>
                        {% for l in lines %}
                        <tr>
                            <td>{{ l }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Add the following at the end of your body tag -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>