<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">  <!-- контейнер для центрирования содержимого и добавления отступов -->
        <table class="table table-striped">  <!-- классы Bootstrap для стилизации таблицы -->
            <thead class="thead-dark">  <!-- делает заголовок таблицы темным -->
                <tr>
                    <th>user_id</th>
                    <th>username</th>
                    <th>name</th>
                    <th>first_name</th>
                    <th>lang</th>
                    <th>show count</th>
                    <th>forget_rate</th>
                    <th>first_access</th>
                    <th>last_access</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('show_user_words', user_id=user.user_id) }}">{{ user.user_id }}</a></td>
                    <td>{{ user.username }}</td> 
                    <td>{{ user.name }}</td> 
                    <td>{{ user.first_name }}</td> 
                    <td>{{ user.lang_code }}</td> 
                    <td>{{ user.shown_words_count }}</td> 
                    <td>{{ user.get_forget_rate() }}</td> 
                    <td>{{ user.get_first_access() }}</td> 
                    <td>{{ user.get_last_access() }}</td> 
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Подключение JavaScript библиотек Bootstrap (требуются для некоторых компонентов, например модальных окон) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
