{% for user in users %}
<tr>
    <td><a href="{{ url_for('show_user_words', user_id=user.user_id) }}">{{ user.user_id }}</a></td>
    <td>{{ user.username }}</td> 
    <td>{{ user.name }}</td> 
    <td>{{ user.first_name }}</td> 
    <td>{{ user.lang_code }}</td> 
    <td>{{ user.shown_words_count }}</td> 
    <td>{{ user.get_forget_rate() }}</td> 
    <td>{{ user.get_first_access() }}</td> 
    <td>{{ user.get_last_access() }}</td> 
    <td>{{ user.status }}</td> 
</tr>
{% endfor %}