<!DOCTYPE html>
<html>
<head>
    <title>Cards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">User: {{ user_id }}</h1>  <!-- mb-4 это класс для добавления отступа снизу -->
        <a href="{{ url_for('show_user_log', user_id=user_id) }}">Log</a>
        <a href="{{ url_for('show_users') }}">Home</a>

        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>word_id</th>
                    <th>foreign_w</th>
                    <th>native_w</th>
                    <th>example</th>
                </tr>
            </thead>
            <tbody>
                {% for w in words %}
                <tr>
                    <td><input type="checkbox" name="word_ids" value="{{ w.word_id }}"></td>
                    <td>{{ w.word_id }}</td>
                    <td>{{ w.foreign_w }}</td>
                    <td>{{ w.native_w }}</td>
                    <td>{{ w.example }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete Selected</button>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete() {
            var wordIds = [];
            $("input[name='word_ids']:checked").each(function() {
                wordIds.push($(this).val());
            });
        
            if (wordIds.length === 0) {
                alert("Please select at least one word to delete.");
                return;
            }
        
            if (confirm("Are you sure you want to delete the selected words?")) {
                $.ajax({
                    url: "{{ url_for('delete_words', user_id=user_id) }}",
                    type: "POST",
                    data: JSON.stringify({"word_ids": wordIds}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        alert(response.message);
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("Error: " + error);
                    }
                });
            }
        }
    </script>
</body>
</html>
