<!DOCTYPE html>
<html>
<head>
    <title>Cards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        .battery-empty {
          color: #b4160b; /* Красный цвет для пустой батареи */
        }
        .battery-low {
          color: #c15f19; /* Оранжевый цвет для низкого заряда батареи */
        }
        .battery-medium {
          color: #aebd4a; /* Оранжевый цвет для низкого заряда батареи */
        }
        .battery-high {
          color: #7c9c54; /* Зеленый цвет для иконок батареи */
        }
        .battery-full {
          color: #337d5c; /* Зеленый цвет для иконок батареи */
        }
        
      </style>    
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">User: {{ user_id }}</h1>  <!-- mb-4 это класс для добавления отступа снизу -->
        <div>
            <a href="{{ url_for('show_user_log', user_id=user_id) }}">Log</a>
            <a href="{{ url_for('show_users') }}">Home</a>
            <button type="button" class="btn btn-danger" onclick="confirmDelete()">Delete Selected</button>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th></th>
                    <th>word_id</th>
                    <th>foreign_w</th>
                    <th>native_w</th>
                    <th>level</th>
                    <th>example</th>
                </tr>
            </thead>
            <tbody>
                {% for w in words %}
                <tr>
                    <td><input type="checkbox" name="word_ids" value="{{ w.word_id }}"></td>
                    <td>{{ w.word_id }}</td>
                    <td>{{ w.foreign_w }}</td>
                    <td>{{ w.native_w }}</td>
                    <td>
                        {% if w.level == 0 %}
                          <span class="battery-icon battery-empty">&#9647;&#9647;&#9647;&#9647;</span>
                        {% elif w.level == 1 %}
                          <span class="battery-icon battery-low">&#9646;&#9647;&#9647;&#9647;</span>
                        {% elif w.level == 2 %}
                          <span class="battery-icon battery-medium">&#9646;&#9646;&#9647;&#9647;</span>
                        {% elif w.level == 3 %}
                          <span class="battery-icon battery-high">&#9646;&#9646;&#9646;&#9647;</span>
                        {% else %}
                          <span class="battery-icon battery-full">&#9646;&#9646;&#9646;&#9646;</span>
                        {% endif %}
                    </td>
                    <td>{{ w.example }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function confirmDelete() {
            var wordIds = [];
            $("input[name='word_ids']:checked").each(function() {
                wordIds.push($(this).val());
            });
        
            if (wordIds.length === 0) {
                alert("Please select at least one word to delete.");
                return;
            }
        
            if (confirm("Are you sure you want to delete the selected words?")) {
                $.ajax({
                    url: "{{ url_for('delete_words', user_id=user_id) }}",
                    type: "POST",
                    data: JSON.stringify({"word_ids": wordIds}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        location.reload();
                    },
                    error: function(xhr, status, error) {
                        alert("Error: " + error);
                    }
                });
            }
        }
    </script>
</body>
</html>
